html {
    --scrollbarBG: #a1a1a1b7;
    --thumbBG:  #252525d3;
  }
  body::-webkit-scrollbar {
    width: 10px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 200px;
    border: solid var(--scrollbarBG);
  }


*{
    width: 100%;
    font-family: sans-serif;
    margin: auto;
}


/*HEADER*/



.page-wrapper {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 1000000000;
  box-shadow: 0px 5px 34px 3px #0000009e;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  	-webkit-animation: gradbar 7s ease infinite;
	-moz-animation: gradbar 7s ease infinite;
	animation: gradbar 7s ease infinite;
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.navbar a{
  height: 30px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar a img {
  height: 30px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 45%;
  margin: 0;
  padding: 0;
}

.nav-item a {
  display: flex;
  justify-content: center;
  text-align: end;
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
  width: 80%;
}

.nav-item a:hover {
  color: #3498db;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  display: none;
}

.menu-toggle:hover{
  cursor: pointer;
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.mymenu{ 
  z-index: 10000;
  position: fixed;
  top: -60px;
  width: 100%;
  transition: top 0.5s;
}

.mymenu.scrolled {
  top: 0; /* torna in posizione quando si fa scroll verso l'alto */
}

.menumobile{
  display: none;
}
/* Media Queries */

  /* Mobile Devices - Phones/Tablets */
  @media only screen and (max-width: 720px) {

    .menumobile{
      display: block;
      position: fixed;
      z-index: 1000000;
    }

    .menudesktop{
      display: none;
    }

}

.menumobile{
  background: rgb(13, 12, 23);
  margin: auto;
}

.collapse a{
  text-decoration: none;
  color: white;
  margin: auto;
  display: flex;
  justify-content: center;
}

.header{
    margin: auto;
    text-align: center;
    padding-top:1%;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 8%;
    padding-bottom: 7%;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.923), rgba(25, 119, 118, 0.564)), url('https://www.infogene.fr/wp-content/uploads/2022/03/shutterstock_1583248045.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header h1{
color: rgb(255, 255, 255);
}

.header hr{
 margin: auto;
  height: 5px;
    background-color:  rgb(255, 255, 255);
    width: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
     opacity:unset;
}

.header p{
   color: white; 
}

.header button{
    margin-top: 3%;
    width: 30%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 5px;
    background: brown;
    color: white;
    border: none;
    transition-duration: 0.8s;
}

.header button:hover{
    transform:scale(1.05);
    transition-duration: 0.4s;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.477);
}
 
  .information{
    display: flex;
    flex-direction: row;
    gap: 1rem;
   align-items: center;
   justify-content: center;
   margin: auto;
   margin-top: 0px;
   margin-bottom: 0px;
   width: 100%;
  }

  button.cv{
    width: 10%;
  }


/*SECTION PROJETS*/

.section-projets{
  background: white;
    background-attachment: fixed;
    padding-top: 6.5%;
    padding-bottom: 8.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-projets h2{
    font-weight: 600;
    text-align: center;
    color: rgb(7, 70, 83);
}

.section-projets hr{
    height: 8px;
    background-color:  rgb(7, 70, 83);
    width: 5%;
    margin-bottom: 3%
}

.projets { 
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-auto-columns: 1fr;
    gap: 5% 5%;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . .";
  }

  .projet{
    padding: 2rem;
    background:url('/img/cool-background\ \(1\).png');
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 0.8s;
    border: 0.1px solid rgba(0, 0, 0, 0.304);
    border-top: 10px solid rgb(7, 70, 83);
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.526);
  }

  .projet h4{
    color:rgb(7, 70, 83);
  }

  .projet:hover{
    transition-duration: 0.3s;
    transform: scale(1.03);
    background: rgba(18, 55, 222, 0.074);
  }

  .projet img{
    width: 70%;
    margin-bottom: 5%;
  }
  
  .buttons{
    display: flex;
    gap: 1rem;
    width: 80%;
  }

  .buttons button{
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    border: none;
    transition-duration: 1s;
  }

  .buttons button:hover{
    transform: scale(1.15);
    transition-duration: 0.5s;
  }

  .site{
    background-color: brown;
  }

  .git{
    background-color: rgb(255, 166, 0);
    width: 30%;
  }

  /*SECTION SKILLS*/

  .section-skills{
    padding-top: 6.5%;
    display: flex;
    flex-direction: row;
    padding-bottom: 6.5%;
    align-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(21, 117, 116, 0.648)), url('https://www.infogene.fr/wp-content/uploads/2022/03/shutterstock_1583248045.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  .section-skills h2{
    font-weight: 600;
}

  .section-skills hr{
    height: 8px;
    background-color: rgb(255, 255, 255);
    width: 30%;
    margin-bottom: 3%
}

.skills{
    width: 70%;
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15%;
    column-gap: 5%;
}

.circle{
    border-radius: 100%;
    margin: auto;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    align-items: center;
    background: rgba(194, 194, 194, 0.324);
    transition-duration: 0.8s;
}

.circle:hover{
    background: rgba(194, 194, 194, 0.486);
    transition-duration: 0.15s;
}

.circle .svg-inline--fa{
    height: 2.4rem;
    width: 2.4rem;
}

.text-skills{
    padding-right: 10%;
    padding-left: 8%;
}

/*SECTION FORMATION*/

.section-services{
  background: rgb(222, 222, 222);
    background-attachment: fixed;
    margin-top: 6%;
    padding-top: 5%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-services h2{
    font-weight: 600;
    text-align: center;
    color: rgb(7, 70, 83);
}

.section-services hr{
    height: 8px;
    background-color:  rgb(7, 70, 83);
    width: 5%;
    margin-bottom: 3%;
}

.section-services .container{
  width: 80%;
  padding-top: 1%;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 1% 5%; 
  grid-template-areas: 
    ". . . ."; 
}

.service{
  border-radius: 10px;
    height: 14rem;
padding-left: 5%;
padding-right: 5%;
transition-duration: 1s;
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.345);
display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 0% 0%; 
  grid-template-areas: 
    "."; 
    background: rgb(243, 243, 243);
    transform: scale(0.9);
}

.iconf{
  border-radius: 10px;
  width: 40%;
  height: 50%;
color: white;
display: flex;
justify-content: center;
align-self: center;
margin: auto;
background: linear-gradient(135deg, rgb(5, 19, 150) 0%, rgb(0, 132, 255) 100%);
}

.iconf .svg-inline--fa{
height: 40%;
}

.textf{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
}

.service:hover{
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
transition-duration: 0.8s;
transform: scale(1.01);
}

.service h4{
    padding-bottom: 12%;
    font-size: 21.5px;
    font-weight:300;
    color:  rgb(7, 70, 83);
}

.service p{
    font-size: 14px;
}

/*SECTION LANGUE*/

.section-langue{
    padding-top: 6.5%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    background: rgb(222, 222, 222);
    background-attachment: fixed;
    color: rgb(50, 50, 50);
}

.text-langue{
    padding-left: 10%;
    padding-right: 7%;
}

.right{
    padding-right: 10%;
        filter: brightness(200%) grayscale(100%) hue-rotate(360deg);
}

.section-langue h2{
    font-weight: 600;
    color: rgb(7, 70, 83);
}

.section-langue hr{
    height: 8px;
    background-color: rgb(7, 70, 83);
    width: 40%;
    margin-bottom: 3%
}

/*FOOTER*/
footer section:first-child{
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
  background: rgb(0, 12, 14);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: auto;
  text-align: center;
}

footer img{
  height: 10vh;
  width: auto;
  margin-bottom: 3%;
}

#contact a{
  text-decoration: none;
  color: white;
}

.social{
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  width: 20%;
}

.social .svg-inline--fa{
  height: 40px;
  transition-duration: 0.5s;
}

.svg-inline--fa.fa-square-instagram:hover{
  color: rgb(255, 0, 55);
 transform: scale(1.2);
 transition-duration: 0.3s;
}

.svg-inline--fa.fa-square-github:hover{
  color: rgb(77, 77, 77);
 transform: scale(1.2);
 transition-duration: 0.3s;
}

.svg-inline--fa.fa-linkedin:hover{
  color: rgb(0, 153, 255);
 transform: scale(1.2);
 transition-duration: 0.3s;
}

.svg-inline--fa.fa-square-gitlab:hover{
  color: rgb(255, 166, 0);
 transform: scale(1.2);
 transition-duration: 0.3s;
}

footer section:last-child{
  background: rgb(0, 0, 0);
  color: rgb(197, 197, 197);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

/*-----------------------------------------RESPONSIVE------------------------------------------------*/

@media (max-width: 600px) {

  *{
    max-width: 100%;
    overflow-x: hidden;
  }

  .header{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20%;
    padding-bottom: 15%;
}

.projets { 
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0.1% 0.1%;
  grid-auto-flow: row;
  grid-template-areas:
    ". " ". " ". " ". " ". " ". ";
}

.projet{
  transform: scale(0.85);
}

.projet:hover{
    transition-duration: 0s;
    transform: scale(0.85);
    background: rgba(18, 55, 222, 0);
  }

.header button{
  margin-top: 10%;
  width: 50%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 5px;
  background: brown;
}

.header hr{
  height: 8px;
    background-color:  rgb(255, 255, 255);
    width: 30%;
    margin-bottom: 10%
}

/* HOVER

.svg-inline--fa.fa-square-instagram:hover{
  color:none;
 transform: none;
 transition-duration: none;
}

.svg-inline--fa.fa-square-github:hover{
  color: none;
 transform: none;
 transition-duration: none;
}

.svg-inline--fa.fa-linkedin:hover{
  color: none;
 transform: none;
 transition-duration: none;
}

.svg-inline--fa.fa-square-gitlab:hover{
  color: none;
 transform: none;
 transition-duration: none;
}

.header button:hover{
  transform:none;
  transition-duration: none;
  box-shadow: none;
}

.projet:hover{
  transition-duration: none;
  transform: none;
  background: none;
}

.buttons button:hover{
  transform: none;
  transition-duration: none;
}

.circle:hover{
  background: none;
  transition-duration: none;
}

.service:hover{
  box-shadow: none;
  transition-duration: none;
  transform: none;
  }*/

  /*FINE HOVER*/

  /*ACTIVE*/
  /*.svg-inline--fa.fa-square-instagram:active{
    color: rgb(255, 0, 55);
    transform: scale(1.2);
  }
  
  .svg-inline--fa.fa-square-github:active{
    color: rgb(0, 89, 255);
 transform: scale(1.2);
  }
  
  .svg-inline--fa.fa-linkedin:active{
    color: rgb(0, 153, 255);
 transform: scale(1.2);
  }
  
  .svg-inline--fa.fa-square-gitlab:active{
    color: rgb(255, 166, 0);
    transform: scale(1.2);
  }
  
  .header button:active{
    transform:scale(1.05);
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.477);
  }
  
  .buttons button:active{
    transform: scale(1.15);
  }*/

  /*FINE ACTIVE*/

  .section-projets hr{
    height: 8px;
    background-color:  rgb(7, 70, 83);
    width: 20%;
    margin-bottom: 3%;
    margin: auto;
}

.section-skills{
  padding-top: 8%;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 8%;
  text-align: center;
}

.section-skills h2{
  font-weight: 600;
}

.section-skills hr{
  height: 8px;
  background-color: rgb(255, 255, 255);
  width: 30%;
  margin: auto;
}

.skills{
  width: 80%;
  height: 25vh;
  display: grid; 
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5%;
  column-gap: 3%;
  margin-top: 5%;
  margin-bottom: 0%;
}

.circle{
  border-radius: 100%;
  margin: auto;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  background: rgba(194, 194, 194, 0.324);
  transition-duration: 0.8s;
}

.text-skills{
  text-align: center;
  padding-top: 5%;
  margin: auto;
}

.text-skills p{
  margin-top: 5%;
}

.text-skills hr{
  margin-top: 5%;
}

.circle .svg-inline--fa{
  height: 1.5rem;
  width: 1.5rem;
}

/*formationnnnnn*/

.section-services{
  display:none;
}

.section-langue{
  padding-top: 15%;
  padding-bottom: 4%;
  display: flex;
  flex-direction: column;
}

.text-langue{
  padding-left: 10%;
  padding-right: 10%;
}

.right{
  padding-right: 0%;
  display: flex;
  align-content: center;
}

.section-langue h2{
  text-align: center;
}

.section-langue hr{
  margin-bottom: 10%;
  margin: auto;
  margin-bottom: 6%;
  margin-top: 6%;
}

.section-langue img{
  width: 65%;
  height: auto;
  padding-top: 7%;
  padding-bottom: 10%;
}

footer img{
  height: 5vh;
  width: auto;
  margin-top: 6%;
  margin-bottom: 10%;
}

#contact a{
  text-decoration: none;
  color: white;
}

.social{
  margin-top: 8%;
  margin-bottom: 8%;
  width: 60%;
}

.social .svg-inline--fa{
  height: 40px;
}

}

@media (min-width:601px) and (max-width: 991px) {

  .header{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 15%;
    padding-bottom: 12%;
}

.projets { 
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr 1fr;
  gap: 4% 4%;
  grid-auto-flow: row;
  grid-template-areas:
    ". " ". " ". " ". " ". " ". ";
  padding-bottom: 10%;
}

.section-projets hr{
  height: 8px;
  background-color:  rgb(7, 70, 83);
  width: 20%;
  margin-bottom: 5%
}

.section-skills{
  padding-top: 8%;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 8%;
  text-align: center;
  margin: auto;
}

.section-skills h2{
  font-weight: 600;
}

.section-skills hr{
  height: 8px;
  background-color: rgb(255, 255, 255);
  width: 30%;
  margin-bottom: 8%;
  text-align: center;
  margin: auto;
}

.text-skills p{
  margin-top: 5%;
}

.text-skills hr{
  margin-top: 5%;
}

.skills{
  height: 100%; 
  margin-top: 8%;
  margin-bottom: 2%;
  height: 13vh;
}

.circle{
  border-radius: 100%;
  margin: auto;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  background: rgba(194, 194, 194, 0.324);
  transition-duration: 0.8s;
}

.text-skills{
  text-align: center;
  padding-top: 5%;
  padding-left: 10%;
  padding-left: 10%;

}

.circle .svg-inline--fa{
  height: 2rem;
  width: 2rem;
}

/*formationnnnnn*/
.section-services{
  display:none;
}

  .section-langue{
    padding-top: 10%;
    padding-bottom: 6%;
  }

  .section-langue p{
    margin-top: 8%;
  }

  footer img{
    height: 7vh;
    width: auto;
    margin-top: 4%;
    margin-bottom: 7%;
  }
  
  #contact a{
    text-decoration: none;
    color: white;
  }
  
  .social{
    margin-top: 6%;
    margin-bottom: 6%;
    width: 40%;
  }
  
  .social .svg-inline--fa{
    height: 40px;
  }

}

@media (min-width:992px) and (max-width: 1220px) {

  .projets { 
    width: 90%;
    padding-bottom: 2%;
  }

.circle{
    height: 3.7rem;
    width: 3.7rem;
}

.circle .svg-inline--fa{
    height: 2rem;
    width: 2rem;
}

.text-skills{
    padding-right: 8%;
}

.section-services hr{
  width: 10%;
}
  
/*formationnnnnn*/

  .section-langue{
    padding-top: 8%;
    padding-bottom: 6%;
  }

}